<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" style="margin-top: 6.5rem; margin-bottom: 5rem; margin-left: 4rem; margin-right: 4rem;">
    <div class="col">
      <div class="card h-95">
        <div class="card-body">
          <img src="assets/images/portfolioImage.png" class="card-img-top"/>
          <h4 class="card-title mt-4">Portfolio</h4>
          <p class="card-text">
            I crafted a personalized Angular website serving as my professional portfolio, 
            seamlessly blending insights into my experiences, showcasing some personal 
            projects, and offering a glimpse into my background and interests. With an intuitive design, 
            the site provides visitors with a holistic understanding of my skills, accomplishments, 
            and a touch of my personality.          
          </p>
        </div>
        <div class="card-footer">
          <p style="text-align: end; margin: 0;">
            <a class="text" target="_blank" href="https://github.com/DavidHeffron/portfolio">Source Code</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-95">
        <div class="card-body">
          <img src="assets/images/sportsApp.png"   class="card-img-top"/>
          <h4 class="card-title mt-4"><a target="_blank" href="https://football-scores-app.netlify.app/home">NFL Scores</a></h4>
          <p class="card-text">
            I developed a dynamic Angular website dedicated to providing comprehensive sports scores,
            allowing users to navigate through historical data effortlessly. The platform features 
            intuitive interfaces to explore individual team statistics with captivating data visuals, 
            fostering easy comparison of performance metrics between teams.
          </p>
        </div>
        <div class="card-footer">
          <p style="text-align: end; margin: 0;">
            <a class="text" target="_blank" href="https://github.com/DavidHeffron/sportsApp">Source Code</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-95">
        <div class="card-body">
          <img src="assets/images/proj3.png" max-height="200px"  class="card-img-top"/>
          <h4 class="card-title mt-4">Barber Shop Bookings</h4>
          <p class="card-text">
            This application that I am currently building leverages the power of C# and Entity Framework Core on the backend to seamlessly interact with an SQL database, 
            ensuring efficient data management and retrieval. The Angular frontend provides a modern and intuitive user interface, creating a 
            seamless user experience as they interact with the robust features and functionalities of our application.
          </p>
        </div>
        <div class="card-footer">
          <p style="text-align: end; margin: 0;">
            <a class="text" target="_blank" href="https://github.com/DavidHeffron/">Source Code</a>
          </p>
        </div>
      </div>
    </div>
  </div>