<div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 5.5rem; margin-bottom: 5rem; margin-left: 4rem; margin-right: 4rem;">
    <div class="col">
      <div class="card h-95">
        <div class="card-body">
          <img src="assets/images/portfolio-icon.jpg" height="160rem" width="360rem" class="card-img-top"/>
          <h4 class="card-title mt-4">Portfolio</h4>
          <p class="card-text">
            You are currently viewing this project! I developed this app using Angular with a combination of bootstrap and material UI.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated: 11/1/2023</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-95">
        <div class="card-body">
          <img src="assets/images/fullStack.png" height="160px" width="365px"  class="card-img-top"/>
          <h4 class="card-title mt-4">Project Two</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated: 3/22/2022</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-95">
        <div class="card-body">
          <img src="assets/images/proj3.png"  class="card-img-top"/>
          <h4 class="card-title mt-4">Project Three</h4>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated: 10/20/2023</small>
        </div>
      </div>
    </div>
  </div>