<div style="margin-top: 6.5rem;">
    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; flex-wrap: wrap; flex-grow: 1;">
        <div style="flex-basis: 55rem; padding: 2rem;">
            <h2 style="font-family: Oxanium;">Software Developer</h2>
            <p>    
                My mission as a software developer is to leverage my academic and professional background to create innovative solutions that contribute to the 
                betterment of humanity. I am dedicated to developing software that addresses pressing global challenges, fosters positive social change, and improves the 
                lives of individuals and communities worldwide.
            </p>
        </div>
        <div style="padding: 2rem;">
            <img class="circle-img" src="assets/images/GradPicture.jpg">
        </div>
    </div>
</div>
