<div style="width: 98%; display: inline-flex; margin-top: 6.5rem;">
    <div class="row mx-auto" style="text-align: center;">
        <div class="col-lg-7" style="margin-top: 8rem; margin-left: 2rem;">
            <h2 style="font-family: SuperMario;">Software Developer</h2>
            <p>
                Ambitious junior software developer with aspirations to better
                myself and help further humanity. Looking to apply my professional and university
                experience in a software development position!
              </p>
        </div>
        <div class="col" style="margin-top: 2rem;">
            <img class="circle-img" src="assets/images/GradPicture.jpg">
        </div>
    </div>
</div>
