<div style="width: 98%; display: inline-flex; margin-top: 6.5rem;">
    <div class="row mx-auto" style="text-align: center;">
        <div class="col-lg-7" style="margin-top: 8rem; margin-left: 2rem;">
            <h2 style="font-family: SuperMario;">Software Developer</h2>
            <p>    
                My mission as a software developer is to leverage my academic and professional background to create innovative solutions that contribute to the 
                betterment of humanity. I am dedicated to developing software that addresses pressing global challenges, fosters positive social change, and improves the 
                lives of individuals and communities worldwide.
            </p>
        </div>
        <div class="col" style="margin-top: 2rem;">
            <img class="circle-img" src="assets/images/GradPicture.jpg">
        </div>
    </div>
</div>
